@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,400,600,700,);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,900,);
/*fefresh*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::arter {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 320px;
}

a{
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background: transparent;
}
/*-----------------------------------*/


body {
    font-family: 'Rubik';
    font-size: 14px;
    color: #646D70;
}


.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}

/*загальні стилі*/

.page__main {

}

/*Adaptive */

[class*="__container"] {
    max-width: 810px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.title {
    font-family: 'Merriweather';
    font-size: 30px;
    color: #FFF;
}

.title--dark {
    color: #222F33;
}

/*----------------HEADER----------------*/

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 105px;
    padding-bottom: 15px;
    padding-top: 15px;
    gap: 20px;
    justify-content: space-between;
}

.header__logo {
    overflow: hidden;
}
.header__logo img{
    width: 135px;
}

.header__body {
   display: flex;
   align-items: center;
   column-gap: 20px; 

}


.header__menu {

}

.menu {
     /* display: flex;
    align-items: center; */
    /* gap: 40px;  */
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 670px) {
    .header__logo {
        width: 33px;
        flex: 0 0 33px;
    }

    .header__container {
        min-width: 70px;
    }

    .header__body {
        column-gap: 20px;
    }

    .header__button {
        width: 30px;
        height: 15px;
    }

    .menu__list {
        column-gap: 20px;
        font-size: 14px;
    }
}
/* @media (max-width: 370px) {
  
} */
.menu__item {}

.menu__link:hover {
    text-decoration: underline;
}

.header__button {
    width: 90px;
    height: 34px;
  
    border-radius: 4px;
    background:  #FFF;
    border: none;
    color: #606B74;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s;

}
.header__button:hover {
    background-color: #141313;
    color: #FFFFFF;
}

/*----------------MAIN---------------*/


.main-section {
    min-height: 100vh;
    position: relative;
    display: flex; 
    /* flex: 1 1 auto; */
}

.main-section__container {
    padding-top: 90px;
    padding-bottom: 50px;
    position: relative;
    align-items: center;
    z-index: 2;
    gap: 20px;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 54.320988% 1fr;

}

@media (max-width: 500px ) {
    .main-section__container {
        grid-template-columns: auto;
        align-content: center;
    }
}

.main-section__content {
 

}

.main-section__label {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
}

.main-section__label:not(:last-child) {
    margin-bottom: 12px;
}

.main-section__title {


}

.title {
    font-family: Merriweather;
    color: #FFFFFF;
     font-size: 30px;
     font-weight: 900;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-section__video-link {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    letter-spacing:  1px;
}

@media(min-width: 500px) {
    .main-section__video-link {
        justify-self: center;
    }
}

.main-section__video-link::before {
    content: "";
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    background: url('/img/BtnPlay.svg') left no-repeat;
    border-radius: 50%;
}



.main-section__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
}

.main-section__image img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
}
@media (max-width: 500px) {
    .main-section__image img{
        opacity: 0.8;
    }
    
}

/*MATERIAL SECTIONS*/

.page__materials {}

.materials {
    position: relative;
    z-index: 2;
}


.materials__container {
    /* margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; */
    display: grid;
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
    grid-template-columns: 50% minmax(280px,325px);
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    min-width: 0;

}

.materials__content {
    padding-top: 25px;
    justify-items: start;
    display: grid;
    gap: 13px;

}

.materials__title {
    color:  #222F33;
        /* Headers / H2 */
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
}


.title--dark {}

.materials__text {
        color:  #646D70;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Rubik;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;
        /* margin-top: 13px;
        margin-bottom: 13px; */
        /* 185.714% */
}
/* .materials__text:not(:last-child) {
   margin-bottom: 13px;
} */

.materials__btn {
    padding: 10px 14px;

    border: 1px solid  #646D70;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.materials__btn:hover{
    background-color: #141313;
    color: #FFF;
}
.materials__slider {
    transform: translate(0,-20.765027% );/* 76/366 */
    /* position: relative;
    max-width: 325px; */
    /* margin: 0px 0px 0px 0px; */
    /* justify-self: end; */
   
}

.slider-materials {
    position: relative;    
}

.slider-materials__wrapper {}

.slider-materials__slide {
    position: relative;
    aspect-ratio: 325 / 366 ;
   
}
.slider-materials__slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.slider-materials__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 5px 16px 5px;
}

.slider-materials__pagination .swiper-pagination-bullet {
    flex: 0 0 8px;
   
    height: 8px;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
    

}
.slider-materials__pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper {
    overflow: hidden;
}
.swiper-initialized {
    touch-action: pan-y;
}

.swiper-wrapper {
    display: flex;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
}

.swiper-pagination {


}
@media (min-width: 767.98px) {
.materials::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 140px;
        width: 38.3%;
        /* 383/1000 */
        background-color: #222F33;
    }

    .materials::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 37px;
        width: 61.7%;
        background-color: #fff;
        transform: translate(0px, -100%);
    }
}

@media (max-width: 767.98px) {
    .materials__container {
        grid-template-columns: auto;
    }
    .materials__slider {
        transform: translate(0px, 0px);
    }
}

